<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.sshmanager.ssh.main.dto.CompanyDTO" alias="companyDTO"/>
		<typeAlias type="com.sshmanager.ssh.main.dto.TransactionDTO" alias="transactionDTO"/>
		<typeAlias type="com.sshmanager.ssh.main.dto.ItemDTO" alias="itemDTO"/>
		<typeAlias type="com.sshmanager.ssh.main.dto.MemoDTO" alias="memoDTO"/>
		<typeAlias type="com.sshmanager.ssh.main.dto.FileDTO" alias="fileDTO"/>
		<typeAlias type="com.sshmanager.ssh.main.dto.InventoryItemDTO" alias="inventoryItemDTO"/>
		<typeAlias type="com.sshmanager.ssh.main.dto.TotalPriceDTO" alias="totalPriceDTO"/>
		<typeAlias type="com.sshmanager.ssh.main.dto.ItemHistoryDTO" alias="itemHistoryDTO"/>
	</typeAliases>
</configuration>