<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="company">

	<select id="selectCompany" parameterType="String" resultType="companyDTO">
		<![CDATA[
		SELECT
			COMPANY_IDX
			, COMPANY_NAME
			, COMPANY_REG_NUM
			, REPRESENTATIVE
			, ADDRESS_1
			, ADDRESS_2
			, TEL
			, FAX
			, MOBILE
			, ECT
			, REG_DATE
			, (SELECT PATH FROM PATH WHERE PATH_NAME = 'FILE_ROOT') FILE_ROOT
			, CONCAT((SELECT PATH FROM PATH WHERE PATH_NAME = 'FILE_ROOT')
						, '\\'
						, COMPANY_NAME
						, "["
						, COMPANY_IDX,"]") PATH
		FROM
			COMPANY
		WHERE
			COMPANY_IDX = #{company_idx}
		]]>
	</select>
	
	<select id="checkDupCompanyName" parameterType="String" resultType="int">
		<![CDATA[
		SELECT COUNT(*)
		FROM COMPANY
		WHERE COMPANY_NAME = #{company_name}
		]]>
	</select>
	
	<insert id="insertCompany" parameterType="companyDTO">
		<![CDATA[
		INSERT INTO COMPANY
			(COMPANY_NAME
			, COMPANY_REG_NUM
			, REPRESENTATIVE
			, ADDRESS_1
			, ADDRESS_2
			, TEL
			, FAX
			, MOBILE
			, ECT)
		VALUES
			(#{company_name}
			, #{company_reg_num}
			, #{representative}
			, #{address_1}
			, #{address_2}
			, #{tel}
			, #{fax}
			, #{mobile}
			, #{ect})
		]]>
	</insert>
	
	<update id="updateCompany" parameterType="companyDTO">
		<![CDATA[
		UPDATE 
			COMPANY
		SET
			COMPANY_NAME = #{company_name}
			, COMPANY_REG_NUM = #{company_reg_num}
			, REPRESENTATIVE = #{representative}
			, ADDRESS_1 = #{address_1}
			, ADDRESS_2 = #{address_2}
			, TEL = #{tel}
			, FAX = #{fax}
			, MOBILE = #{mobile}
			, ECT = #{ect}
		WHERE
			COMPANY_IDX = #{company_idx}
		]]>
	</update>
	
	<delete id="deleteCompany" parameterType="String">
		<![CDATA[
		DELETE FROM
			COMPANY
		WHERE 
			COMPANY_IDX = #{company_idx}
		]]>
	</delete>
	
	
</mapper>