<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="file">

	<select id="selectFile" parameterType="String" resultType="FileDTO">
		<![CDATA[
		SELECT
			T1.FILE_IDX
			, T1.TRANSACTION_IDX
			, T1.FILE_NAME
			, CONCAT(
				(SELECT PATH FROM PATH WHERE PATH_NAME='FILE_ROOT')
				, "\\"
        		, T3.COMPANY_NAME
        		, "["
        		, T3.COMPANY_IDX
        		, "]\\"
        		, T1.FILE_PATH) AS FILE_PATH
        	, T1.FILE_TYPE
		FROM
			FILE T1
		JOIN 
			TRANSACTION T2
		ON 
			T1.TRANSACTION_IDX = T2.TRANSACTION_IDX
		JOIN 
			COMPANY T3
		ON 
			T2.COMPANY_IDX = T3.COMPANY_IDX
		WHERE
			T1.FILE_IDX = #{value}	
		]]>
	</select>
	
</mapper>