<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="inventory">

	<select id="countItemCode" parameterType="String" resultType="int">
		<![CDATA[
		SELECT
			COUNT(ITEM_CODE)
		FROM
			INVENTORY_ITEM
		WHERE
			ITEM_CODE = #{value}
		]]>
	</select>
	
	<select id="selectInventoryItemByCode" parameterType="String" resultType="inventoryItemDTO">
		<![CDATA[
		SELECT
			ITEM_IDX
			, COMPANY_IDX
			, ITEM_CODE
			, CONTENT
			, FORMAT(UNIT_PRICE, 0) UNIT_PRICE
			, FORMAT(INITIAL_QUANTITY, 0) INITIAL_QUANTITY
		FROM
			INVENTORY_ITEM
		WHERE
			ITEM_CODE = #{value}
		]]>
	</select>
	
	<select id="selectInventoryItem" parameterType="String" resultType="inventoryItemDTO">
		<![CDATA[
		SELECT
			ITEM_IDX
			, COMPANY_IDX
			, ITEM_CODE
			, CONTENT
			, FORMAT(UNIT_PRICE, 0) UNIT_PRICE
			, FORMAT(INITIAL_QUANTITY, 0) INITIAL_QUANTITY
		FROM
			INVENTORY_ITEM
		WHERE
			ITEM_IDX = #{item_idx}
		]]>
	</select>
	
	<select id="selectInventoryList" parameterType="String" resultType="inventoryItemDTO">
		<![CDATA[
		SELECT
			T1.ITEM_IDX
            , T1.COMPANY_IDX
            , T2.COMPANY_NAME
			, T1.ITEM_CODE
			, T1.CONTENT
			, FORMAT(T1.UNIT_PRICE, 0) UNIT_PRICE
			, FORMAT(T1.INITIAL_QUANTITY, 0) INITIAL_QUANTITY
            , FORMAT((SELECT
				((IFNULL(SUM(CASE
							 WHEN ST2.TRANSACTION_TYPE = '출고'
							 THEN -ST1.AMOUNT
							 WHEN ST2.TRANSACTION_TYPE = '입고'
							 THEN ST1.AMOUNT
							 ELSE 0 END), 0))
				+ T1.INITIAL_QUANTITY)
			  FROM
				ITEM ST1
			  JOIN
				TRANSACTION ST2
			  ON
				ST1.TRANSACTION_IDX = ST2.TRANSACTION_IDX
			  WHERE
				ST1.INVENTORY_ITEM_IDX = T1.ITEM_IDX), 0) CURRENT_QUANTITY
		FROM
			INVENTORY_ITEM T1
		JOIN 
			COMPANY T2
		ON 
			T1.COMPANY_IDX = T2.COMPANY_IDX
		]]>
		<choose>
			<when test="value != null">
			<![CDATA[
			WHERE
				T1.COMPANY_IDX = #{value}
			ORDER BY
				T1.ITEM_CODE
			]]>
			</when>
			<otherwise>
			<![CDATA[
			ORDER BY
				T2.COMPANY_NAME, T1.ITEM_CODE
			]]>
			</otherwise>
		</choose>
	</select>
	
	<select id="selectInventoryItemHistory" parameterType="String" resultType="itemHistoryDTO">
		<![CDATA[
		SELECT
			T4.COMPANY_NAME
			, T4.COMPANY_IDX
			, T2.ITEM_CODE
    		, T3.DATE
			, T3.TRANSACTION_IDX
    		, T3.TRANSACTION_TYPE
    		, T1.CONTENT
    		, FORMAT(T1.AMOUNT, 0) AMOUNT
    		, FORMAT(T1.UNIT_PRICE, 0) UNIT_PRICE
    		, FORMAT(T1.SUPPLY_PRICE, 0) SUPPLY_PRICE
    		, FORMAT(T1.TAX_PRICE, 0) TAX_PRICE
    		, FORMAT(T1.TOTAL_PRICE, 0) TOTAL_PRICE
		FROM
			ITEM T1
		JOIN
			INVENTORY_ITEM T2
		ON
			T1.INVENTORY_ITEM_IDX = T2.ITEM_iDX
		JOIN
			TRANSACTION T3
		ON
			T1.TRANSACTION_IDX = T3.TRANSACTION_IDX
		JOIN
			COMPANY T4
		ON
			T3.COMPANY_IDX = T4.COMPANY_IDX
		WHERE
			T2.ITEM_IDX = #{item_idx}
		ORDER BY
			T3.DATE DESC
		]]>
	</select>
	
	<insert id="insertInventroyItem" useGeneratedKeys="true" keyProperty="item_idx" parameterType="inventoryItemDTO">
		<![CDATA[
		INSERT INTO
			INVENTORY_ITEM(COMPANY_IDX
			 				, ITEM_CODE
			 				, CONTENT
			 				, UNIT_PRICE
			 				, INITIAL_QUANTITY)
		VALUES
			(#{company_idx}
			 , UPPER(#{item_code})
			 , #{content}
			 , #{unit_price}
			 , #{initial_quantity})
		]]>
	</insert>
	
	<update id="updateInventoryItem" parameterType="inventoryItemDTO">
		<![CDATA[
		UPDATE 
			INVENTORY_ITEM
		SET
			COMPANY_IDX = #{company_idx}
			, ITEM_CODE = #{item_code}
			, CONTENT = #{content}
			, UNIT_PRICE = #{unit_price}
			, INITIAL_QUANTITY = #{initial_quantity}
		WHERE
			ITEM_IDX = #{item_idx}
		]]>
	</update>
	
	<delete id="deleteInventoryItem" parameterType="String">
		<![CDATA[
		DELETE FROM
			INVENTORY_ITEM
		WHERE
			ITEM_IDX = #{value}
		]]>
	</delete>
	
	<delete id="deleteInventoryItemList" parameterType="String">
		<![CDATA[
		DELETE FROM
			INVENTORY_ITEM
		WHERE
			COMPANY_IDX = #{value}
		]]>
	</delete>
	
</mapper>