<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="path">

	<select id="selectPathByPathName" parameterType="String" resultType="String">
		<![CDATA[
		SELECT
			PATH
		FROM
			PATH
		WHERE
			PATH_NAME = #{path_name}
		]]>
	</select>
	
	<update id="updatePathByPathName" parameterType="map">
		<![CDATA[
		UPDATE
			PATH
		SET
			PATH = #{path}
		WHERE
			PATH_NAME = #{path_name}
		]]>
	</update>
	
</mapper>