<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="searchCompany">
	
    <select id="searchCompanyList" parameterType="map" resultType="hashmap">
    	<![CDATA[
		SELECT 
			COMPANY_IDX
		    , COMPANY_NAME
		FROM 
			COMPANY
		]]>
		<if test="keyword != null and keyword != ''">
			<![CDATA[
			WHERE COMPANY_NAME LIKE '%${keyword}%'
        	]]>
        </if>
        <if test="limit != null and limit != ''">
			<![CDATA[
			LIMIT ${limit}
        	]]>
        </if>
    </select>
    

</mapper>