<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="transaction">
	
	<select id="selectTransactionList" parameterType="String" resultType="transactionDTO">
		<![CDATA[
		SELECT 
			TRANSACTION_IDX
			, COMPANY_IDX
			, DATE
			, SUBJECT
		FROM 
			TRANSACTION
		WHERE 
			COMPANY_IDX = #{company_idx}
		ORDER BY
			DATE DESC, TRANSACTION_IDX DESC
		]]>
	</select>
	
	<select id="selectTransaction" parameterType="String" resultType="transactionDTO">
		<![CDATA[
		SELECT 
			TRANSACTION_IDX
			, COMPANY_IDX
			, DATE
			, SUBJECT
		FROM 
			TRANSACTION
		WHERE 
			TRANSACTION_IDX = #{transaction_idx}
		]]>
	</select>
	
	<select id="selectItemList" parameterType="String" resultType="itemDTO">
		<![CDATA[
		SELECT 
			ITEM_IDX
			, TRANSACTION_IDX
			, CONTENT
			, AMOUNT
			, UNIT_PRICE
			, SUPPLY_PRICE
			, TAX_PRICE
			, TOTAL_PRICE
		FROM
			ITEM
		WHERE
			TRANSACTION_IDX = #{transaction_idx}
		]]>
	</select>
	
	<select id="selectMemoList" parameterType="String" resultType="memoDTO">
		<![CDATA[
		SELECT 
			MEMO_IDX
			, TRANSACTION_IDX
			, CONTENT
		FROM
			MEMO
		WHERE
			TRANSACTION_IDX = #{transaction_idx}
		]]>
	</select>
	
	<select id="selectFileList" parameterType="map" resultType="fileDTO">
		<![CDATA[
		SELECT 
			T1.FILE_IDX
			, T1.TRANSACTION_IDX
			, T1.FILE_NAME
			, CONCAT(
				(SELECT PATH FROM PATH WHERE PATH_NAME='FILE_ROOT')
				, "\\"
        		, T3.COMPANY_NAME
        		, "["
        		, T3.COMPANY_IDX
        		, "]\\"
        		, T1.FILE_PATH) AS FILE_PATH
		FROM
			${file_type}_FILE T1
		JOIN 
			TRANSACTION T2
		ON 
			T1.TRANSACTION_IDX = T2.TRANSACTION_IDX
		JOIN 
			COMPANY T3
		ON 
			T2.COMPANY_IDX = T3.COMPANY_IDX
		WHERE
			T1.TRANSACTION_IDX = #{transaction_idx}
		]]>
	</select>
	
	<insert id="insertTransaction" useGeneratedKeys="true" keyProperty="transaction_idx" parameterType="transactionDTO">
		<![CDATA[
		INSERT INTO 
			TRANSACTION(COMPANY_IDX
						, DATE
						, SUBJECT)
		VALUES
			(#{company_idx}
			,#{date}
			,#{subject})
		]]>
	</insert>
	
	<insert id="insertItem" parameterType="itemDTO">
		<![CDATA[
		INSERT INTO 
			ITEM(TRANSACTION_IDX
				, CONTENT
				, AMOUNT
				, UNIT_PRICE
				, SUPPLY_PRICE
				, TAX_PRICE
				, TOTAL_PRICE)
		VALUES 
			(#{transaction_idx}
			, #{content}
			, #{amount}
			, #{unit_price}
			, #{supply_price}
			, #{tax_price}
			, #{total_price})
		]]>
	</insert>
	
	<insert id="insertMemo" parameterType="memoDTO">
		<![CDATA[
		INSERT INTO 
			MEMO(TRANSACTION_IDX, CONTENT)
		VALUES 
			(#{transaction_idx}, #{content})
		]]>
	</insert>
	
	<insert id="insertFile" parameterType="fileDTO">
		<![CDATA[
		INSERT INTO 
			${file_type}_FILE(TRANSACTION_IDX, FILE_NAME, FILE_PATH)
		VALUES 
			(#{transaction_idx}, #{file_name}, #{file_path})
		]]>
	</insert>
	
</mapper>