<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="transaction">
	
	<select id="selectTransactionList" parameterType="String" resultType="transactionDTO">
		<![CDATA[
		SELECT 
			TRANSACTION_IDX
			, COMPANY_IDX
			, DATE
			, TRANSACTION_TYPE
			, SUBJECT
		FROM 
			TRANSACTION
		WHERE 
			COMPANY_IDX = #{company_idx}
		ORDER BY
			DATE DESC, TRANSACTION_IDX DESC
		]]>
	</select>
	
	<select id="selectTransaction" parameterType="String" resultType="transactionDTO">
		<![CDATA[
		SELECT 
			TRANSACTION_IDX
			, COMPANY_IDX
			, DATE
			, TRANSACTION_TYPE
			, SUBJECT
		FROM 
			TRANSACTION
		WHERE 
			TRANSACTION_IDX = #{transaction_idx}
		]]>
	</select>
	
	<select id="selectItemList" parameterType="String" resultType="itemDTO">
		<![CDATA[
		SELECT 
			T1.ITEM_IDX
			, T1.TRANSACTION_IDX
			, T1.INVENTORY_ITEM_IDX
			, T2.ITEM_CODE
			, T1.CONTENT
			, T1.AMOUNT
			, T1.UNIT_PRICE
			, T1.SUPPLY_PRICE
			, T1.TAX_PRICE
			, T1.TOTAL_PRICE
		FROM
			ITEM T1
		JOIN
			INVENTORY_ITEM T2
		ON
			T1.INVENTORY_ITEM_IDX = T2.ITEM_IDX
		WHERE
			TRANSACTION_IDX = #{transaction_idx}
		]]>
	</select>
	
	<select id="selectMemoList" parameterType="String" resultType="memoDTO">
		<![CDATA[
		SELECT 
			MEMO_IDX
			, TRANSACTION_IDX
			, CONTENT
		FROM
			MEMO
		WHERE
			TRANSACTION_IDX = #{transaction_idx}
		]]>
	</select>
	
	<select id="selectFileList" parameterType="map" resultType="fileDTO">
		<![CDATA[
		SELECT 
			T1.FILE_IDX
			, T1.TRANSACTION_IDX
			, T1.FILE_NAME
			, CONCAT(
				(SELECT PATH FROM PATH WHERE PATH_NAME='FILE_ROOT')
				, "\\"
        		, T3.COMPANY_NAME
        		, "["
        		, T3.COMPANY_IDX
        		, "]\\"
        		, LEFT(T2.DATE, 4)
                , "\\"
                , CASE
					WHEN T1.FILE_TYPE = 'QUOTE'
                    THEN '견적서'
                    WHEN T1.FILE_TYPE = 'ORDER'
                    THEN '작업지시서'
                    WHEN T1.FILE_TYPE = 'IMAGE'
                    THEN '사진'
                    WHEN T1.FILE_TYPE = 'OTHER'
                    THEN '기타'
				  END) AS FILE_PATH
        	, FILE_TYPE
		FROM
			FILE T1
		JOIN 
			TRANSACTION T2
		ON 
			T1.TRANSACTION_IDX = T2.TRANSACTION_IDX
		JOIN 
			COMPANY T3
		ON 
			T2.COMPANY_IDX = T3.COMPANY_IDX
		WHERE
			T1.TRANSACTION_IDX = #{transaction_idx}
		]]>
		<if test="file_type != null and file_type != ''">
			<![CDATA[
			AND 
				T1.FILE_TYPE = #{file_type}
        	]]>
        </if>
	</select>
	
	<insert id="insertTransaction" useGeneratedKeys="true" keyProperty="transaction_idx" parameterType="transactionDTO">
		<![CDATA[
		INSERT INTO 
			TRANSACTION(COMPANY_IDX
						, DATE
						, TRANSACTION_TYPE
						, SUBJECT)
		VALUES
			(#{company_idx}
			, #{date}
			, #{transaction_type}
			, #{subject})
		]]>
	</insert>
	
	<insert id="insertItem" parameterType="itemDTO">
		<![CDATA[
		INSERT INTO 
			ITEM(TRANSACTION_IDX
				, INVENTORY_ITEM_IDX
				, CONTENT
				, AMOUNT
				, UNIT_PRICE
				, SUPPLY_PRICE
				, TAX_PRICE
				, TOTAL_PRICE)
		VALUES 
			(#{transaction_idx}
			, #{inventory_item_idx}
			, #{content}
			, #{amount}
			, #{unit_price}
			, #{supply_price}
			, #{tax_price}
			, #{total_price})
		]]>
	</insert>
	
	<insert id="insertMemo" parameterType="memoDTO">
		<![CDATA[
		INSERT INTO 
			MEMO(TRANSACTION_IDX, CONTENT)
		VALUES 
			(#{transaction_idx}, #{content})
		]]>
	</insert>
	
	<insert id="insertFile" parameterType="fileDTO">
		<![CDATA[
		INSERT INTO 
			FILE(TRANSACTION_IDX, FILE_NAME, FILE_TYPE)
		VALUES 
			(#{transaction_idx}, #{file_name}, #{file_type})
		]]>
	</insert>
	
	<update id="updateTransaction" parameterType="transactionDTO">
		<![CDATA[
		UPDATE 
			TRANSACTION
		SET
			DATE = #{date}
			, TRANSACTION_TYPE =  #{transaction_type}
			, SUBJECT = #{subject}
		WHERE
			TRANSACTION_IDX = #{transaction_idx}
		]]>
	</update>
	
	<update id="updateItem" parameterType="itemDTO">
		<![CDATA[
		UPDATE
			ITEM
		SET
			INVENTORY_ITEM_IDX = #{inventory_item_idx}
			, CONTENT = #{content}
			, AMOUNT = #{amount}
			, UNIT_PRICE = #{unit_price}
			, SUPPLY_PRICE = #{sypply_price}
			, TAX_PRICE = #{tax_price}
			, TOTAL_PRICE = #{total_price}
		WHERE
			ITEM_IDX = #{item_idx}
		]]>
	</update>
	
	<update id="updateMemo" parameterType="memoDTO">
		<![CDATA[
		UPDATE
			MEMO
		SET
			CONTENT = #{content}
		WHERE
			MEMO_IDX = #{memo_idx}
		]]>
	</update>
	
	<update id="updateFile" parameterType="fileDTO">
		<![CDATA[
		UPDATE
			FILE
		SET
			FILE_NAME = #{file_name}
			, FILE_PATH = #{file_path}
		WHERE
			FILE_IDX = #{file_idx}
		]]>
	</update>

	<update id="updateFileName" parameterType="map">
		<![CDATA[
		UPDATE
			FILE
		SET
			FILE_NAME = #{file_name}
		WHERE
		 FILE_IDX = #{file_idx}
		]]>
	</update>
	
	<delete id="deleteItem" parameterType="String">
		<![CDATA[
		DELETE FROM ITEM
		WHERE ITEM_IDX = #{value}
		]]>
	</delete>
	
	<delete id="deleteMemo" parameterType="String">
		<![CDATA[
		DELETE FROM MEMO
		WHERE MEMO_IDX = #{value}
		]]>
	</delete>
	
	<delete id="deleteFile" parameterType="String">
		<![CDATA[
		DELETE FROM 
			FILE
		WHERE 
			FILE_IDX = #{value}
		]]>
	</delete>
	
	<delete id="deleteItemList" parameterType="String">
		<![CDATA[
		DELETE FROM ITEM
		WHERE TRANSACTION_IDX = #{value}
		]]>
	</delete>
	
	<delete id="deleteMemoList" parameterType="String">
		<![CDATA[
		DELETE FROM MEMO
		WHERE TRANSACTION_IDX = #{value}
		]]>
	</delete>
	
	<delete id="deleteFileList" parameterType="String">
		<![CDATA[
		DELETE FROM FILE
		WHERE TRANSACTION_IDX = #{transaction_idx}
		]]>
	</delete>
	
</mapper>